<!--<div>-->
  <!--<form [formGroup]="invoiceForm" (ngSubmit)="addPost(invoiceForm.value)" onload="">-->
    <!--<div class="form-container">-->
        <!--<h1 class = "heading-1" >Add Invoice Form</h1>-->

      <!--<div class="row columns">-->

        <!--<label class="" >Invoice Name-->
          <!--<input type="text" formControlName="invoiceName">-->
        <!--</label>-->
        <!--<br><br><br>-->
        <!--<label>Email-->
          <!--<input type="text" formControlName="email">-->
        <!--</label>-->
      <!--<br>-->
        <!--<br>-->
        <!--<label>Due Date-->
          <!--<md-form-field>-->
            <!--<input mdInput [mdDatepicker]="picker" placeholder="Choose a date" formControlName="dueByDate">-->
            <!--<md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>-->
            <!--<md-datepicker #picker></md-datepicker>-->
          <!--</md-form-field>-->

        <!--</label>-->


        <!--<label>Description-->
          <!--<textarea  formControlName="invoiceNotes"></textarea>-->
        <!--</label>-->


        <!--<label>Amount Due-->
          <!--<input type="number" formControlName="amountDue" class="amount" [(ngModel)] ="amountDue">-->
        <!--</label>-->


          <!--<input type="number" formControlName="totalAmountDue"  [(ngModel)] ="totalAmountDue">-->


        <!--&lt;!&ndash;<label>Invoice Billing Address&ndash;&gt;-->
          <!--&lt;!&ndash;<input type="text" formControlName="invoiceBillToAddress">&ndash;&gt;-->
        <!--&lt;!&ndash;</label>&ndash;&gt;-->

        <!--&lt;!&ndash;<label>Invoice Billing Zip&ndash;&gt;-->
          <!--&lt;!&ndash;<input type="text" formControlName="invoiceBillToZip">&ndash;&gt;-->
        <!--&lt;!&ndash;</label>&ndash;&gt;-->
        <!--<label>Total {{ (amountDue | number ) + (totalAmountDue | number )}}</label>-->


        <!--<input type="submit" class="button expanded" value="Submit Form" >-->
      <!--</div>-->
    <!--</div>-->
  <!--</form>-->




<!--</div>-->


<app-invoice-details></app-invoice-details>
